---
layout: modules/module_145/main
slug: modules/module_145/preview-ui/delete
response_headers: >
  {
    "X-Frame-Options": null,
    "Content-Security-Policy": "frame-ancestors https://*.siteglide.com"
  }
authorization_policies:
 - modules/siteglide_system/module_is_in_admin
---
{%- include 'modules/siteglide_system/constants' -%}
<div class="p-5">
  <a href="/modules/module_145/preview-ui/index?auth={{params.auth}}" class="btn btn-primary">Back</a>
  {%- include 'webapp_delete', layout: 'delete' -%}
  <a href="/modules/module_145/preview-ui/index?auth={{params.auth}}" class="btn btn-primary">Cancel</a>
</div>